{% load static %}
<link rel="stylesheet" href="{%static 'styles/slideshow.css' %}">
<section class="slideshow">

    <div id="containerrr">
        <div id="s-imagesss">
            <div id = "item">
                <img src="{% static 'images/ds1.jpeg' %}" id ="img">
            </div>
            <div id = "item">
                <img src="{% static 'images/ds2.jpeg' %}" id ="img">
            </div>
            <div id = "item">
                <img src="{% static 'images/ds3.jpeg' %}" id ="img">
            </div>
            <div id = "item">
                <img src="{% static 'images/ds4.jpeg' %}" id ="img">
            </div>
            <div id = "item">
                <img src="{% static 'images/ds5.jpeg' %}" id ="img">
            </div>
            <div id = "item">
                <img src="{% static 'images/ds6.jpeg' %}" id ="img">
            </div>
            <div id="item">
                <img src="{% static 'images/ds7.jpeg' %}" id ="img">
            </div>
            <div id="item">
                <img src="{% static 'images/ds.jpg' %}" id ="img">
            </div>
        </div>
        <div id="d"></div>
    </div>

</section>

