{% extends 'main.html' %}
{% load static %}
{%block content%}
<section class="anime">
    <div id="anime-container">
        <div id="top">
            <div id="anime-cover">
            </div>
            <div id="anime-description">
                <h2>Title: </h2>
                <p>Release Date: </p>
                <p>status: </p>
            </div>
        </div>
        <div id="bottom">
            <div id="anime-seasons">
            </div>
            <div id="anime-episodes">
            </div>
        </div>        
    </div>
</section>


{% endblock %}