{% load static %}

<link rel="stylesheet" href="{% static 'styles/main.css' %}">

<header class = 'headd hide'>

    <div class ='nav-container'>
        <div id = 'left'>
        {% comment %} <video src="{% static 'images/AnimeJojo.mp4' %}" id='mlogo'> {% endcomment %}
            
            <h1>AnimeJojo</h1>
        </div>
        <div id = 'middle'>
        {% if request.user.is_authenticated %}
            <div id="i1">
                <a href = "{% url 'home' %}"> Home </a>
            </div>
            <div id="i2">
                <a href = ""> About </a>
            </div>
            <div id="i3">
                <a href = ""> Contact </a>
            </div>
            <div id="i4">   
                <a href = "{% url 'random' %}"> Random Anime! </a>
            </div>
            <div id ='i6'>
                <a href = "{% url 'features' %}"> Features </a>
            </div>
            <div id="i9">
                <a href = "{% url 'profile' %}"> Profile </a>
            </div>
        </div>
        <div id="right">
            <div id ='i7'>
            </div>
            <div id="i5">
                <a href = "{% url 'logout' %}"><button> Logout </button></a>
            </div>
            {% else %}
        </div>
        <div id = 'middle'>
            <div id="i1">
                <a href = "{% url 'signupPage' %}"> Signup </a>
            </div>
            <div id="i2">
                <a href = ""> About </a>
            </div>
            <div id="i3">
                <a href = ""> Contact </a>
            </div>
        </div>
        
        <div id="right">
            <div id ='i7'>
            </div>
            <div id="i5">
                <a href = "{% url 'loginPage' %}"><button> Login </button></a>
            </div>
            {% endif %}
        </div>
    </div>

</header>

<section class="hero">
    <div id="splash-video">

        <video src = "/static/images/AnimeJojo.mp4" id="bk1" autoplay = "autoplay" muted = "muted">

    </div>

</section>

<section class = 'authentiation hide'>
    <div id = 'authentication-container'>
        <form id="form" method= "post" type="multipart-form">
        {% csrf_token %}
            <div id="form-header">
                <h2> Login </h2>
            </div>
            <div id="form-body">
                <div id = "login-fields">
                    <input id="username" type = "text" required name = "username" placeholder = "Enter your username">
                    <input id="password" type = "password" required name="password" placeholder = "Enter your password">
                </div>
                <input id="submit" type = "submit" value = "Login">
                <h4>No Account?</br>Click <a href ="{% url 'signupPage'  %}" id="here">here</a> to signup now</h4>
            </div>
        </form>
    </div>
</section>

<script src="{% static 'js/log.js' %}"></script>
